<!DOCTYPE html>
<html lang="en">
<head>  
</head>
<body class="container">
<main>
    <div class="jumbotron">
        <h1>Pedra, Paper Tisora</h1>
        <p>Benvingut</p>
    </div>
  
    <form action='/api/iniciaJoc/codipartida' method="POST">
        Nom de la Partida:<br>
        <input id="valorpartida"type="text" name="codipartida"><br><br>
        
        <input type="submit" value="Submit">
      </form> 
     
</main>
</body>
</html>